@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  display: block;
  overflow-x: auto;
}
